:root{
    --colorBack:#0d0a35;
    --fontPrincipal:#212121;
    --sliders:#30454b;
}
html{
    background: var(--colorBack);
    color: var(--fontPrincipal);
}
header{
    background-image: url(/header.jpg);
    background-size: cover ;
    width: 100%;
    height: 200px;
}
aside{
    background: var(--sliders);
}
footer{
    background: var(--sliders);
}
.right_to_left{
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}
.left_to_right{
    background-image: linear-gradient(to left, #a8caba 0%, #5d4157 100%);
}
