*{
    font-size: 16px;
}
.right_to_left{
    font-family: monospace;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
.left_to_right{
    text-align: end;
    font-family: monospace;
    animation-duration: 3s;
    animation-name: skate;
}
@keyframes skate {
    from{
        margin-right: 100%;
        width: 0%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}