*{
    font-size: 16px;
}
header{
    border-radius: 5px;
}
.right_to_left{
    font-family: monospace;
    animation-duration: 3s;
    animation-name: slidein;
    border-radius: 5px;
}
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
.left_to_right{
    text-align: end;
    font-family: monospace;
    animation-duration: 3s;
    animation-name: skate;
    border-radius: 5px;
}
@keyframes skate {
    from{
        margin-right: 100%;
        width: 0%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}
aside{
    border-radius: 5px;
}
footer{
    border-radius: 5px;
}
img{
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.left_to_right p{
    text-align: center;
    float: left;
    margin-left: 25%;
    margin-top: 7%;
}
.right_to_left p{
    text-align: center;
    float: right;
    margin-right: 25%;
    margin-top: 7%;
}
div{
    margin-top: 0.5%;
}